@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


html{
    overflow-x: hidden;
}
body{
    font-family: 'Quicksand', sans-serif;
}

.search-bar {
    width: 80%;
}

.custom-logo {
    /* margin-top: 10px; */
    margin-left: 25px;
    padding: 16px;
    height: 100px;
}

.cart-mob {
    display: none;
}
.cart-web{
    padding: 30px 0;
}
.header_search{
    padding:  0 10px;
}
.category-tiles div{
    padding: 10px 0;
}
@media only screen and (max-width: 600px) {
    .custom-logo {
        height: 80px;
        margin-left: 0;
    }
    .logo-container {
        width: 65%;
        display: inline;
    }
    .cart-mob {
        display: block;
        width: 35%;
        padding-top: 24px;
    }
    .header_search{
        height: auto;
    }
    .cat-dropdown {
        width: 150px
    }
    .cart-web {
        display: none;
    }
}

#sticky-nav.woocommerce-layout {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin-top: 3px;
}

.text {
    font-weight: bold;
}

.has-text-align-center {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1.4;
}

.foote {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

#form-wrapper {
    width: 50%;
    height: 40px;
}

.nav-list {
    padding: 10px 25px 10px 5px;
    position: relative;
    float: left;
    border: 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#dropdown {
    cursor: pointer;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid;
}

#dropdown:hover {
    background-color: lightgray;
}

.current-selection {
    display: inline-block;
    font-size: 14px;
}

.in-wrap {
    overflow: hidden;
    height: 100%;
}

#search-box {
    width: 100%;
    height: 36px;
    border: 1px solid;
    border-left: none;
    border-right: none;
    line-height: 25px;
    font-size: 18px;
    /* padding-left: 100px; */
}

#search-box:focus {
    outline: none;
}

.go-button {
    float: right;
    height: 100%;
    background-color: orange;
    border: 1px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0;
    padding: 0 15px;
}

.go-button:hover {
    background-color: rgb(255, 115, 0);
    cursor: pointer;
}

.content-area {
    padding: 50px;
    /* margin-right: 15px;
    margin-left: 15px; */
}

.page-title {
    text-align: center;
    content: '';
    width: auto;
    display: block;
    text-align: center;
    border-bottom: 2px solid #fda332;
    margin: 15px auto 15px;
    padding: 10px;
    max-width: 238px;
   font-size: 35px;
}

.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.cross {
    font-size: 10px
}

.padding-0 {
    padding-right: 5px;
    padding-left: 5px
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.m-t-20 {
    margin-top: 20px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}

.ribbon span {
    position: absolute;
    display: block;
    width: 34px;
    border-radius: 50%;
    padding: 8px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center
}

.ribbon-top-right {
    top: -10px;
    right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent
}

.ribbon-top-right::before {
    top: 0;
    left: 17px
}

.ribbon-top-right::after {
    bottom: 17px;
    right: 0
}

.sold_stars i {
    color: orange
}

.ribbon-top-right span {
    right: 17px;
    top: 17px
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bbb_deals_featured {
    width: 100%
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px 0px;
    background: #fff;
}

.bbb_deals_title {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_deals_slider_container {
    width: 100%
}

.bbb_deals_item {
    width: 100% !important
}

.bbb_deals_image {
    width: 100%
}

.bbb_deals_image img {
    width: 100%
}

.bbb_deals_content {
    margin-top: 33px
}

.bbb_deals_item_category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_price_a strike {
    color: red
}

.bbb_deals_item_name {
    font-size: 24px;
    font-weight: 400;
    color: #000000
}

.bbb_deals_item_price {
    font-size: 22px;
    font-weight: 500;
    color: #6d6e73
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.available_title span {
    font-weight: 700
}

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }
    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }
    .bbb_deals_slider_nav_container {
        right: 5px
    }
    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
}

.product-list {
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.product-link {
    text-decoration: none;
}


/* Custom Styles */

.header-new {
    box-shadow: 5px -8px 6px 8px rgb(32 33 36 / 14%);
    z-index: 22;
}

.bg-grey {
    background: #f4f4f475;
}

a {
    text-decoration: none !important;
    color: #000000;
}

.category-grid {
    text-align: center;
}

.product-slider .category-grid div {
    margin-bottom: 26px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 11%);
    margin: 16px 5px;
    max-width: 292px;
    padding: 10px 0 25px;
    border-radius: 5px;
}
.product-slider .category-grid .btn-link{
    font-weight: 600;
    color: #ff8d2d;
    font-size: 19px;
}
.category-grid .btn-link:hover{
    color: #000000;
}
.btn-theme {
    background-color: #ea8a27;
    color: #fff !important;
}

.btn-theme:hover {
    background-color: #f47421;
}

.title-sub {
    text-align: left;
    border-bottom: 5px solid #f2f2f2;
    padding: 0 0 9px;
}
.title-sub::before{
    content: "";
    height: 4px;
    width: 190px;
    background-color: #fda536;
    position: absolute;
    top: 38px;
}

.user-btn{
    background-color: #fff;
    border: none ;
    color: #000;
    font-weight: bold;
}
.user-btn:hover{
    background-color: #fda332;
    color: #fff;
}   
.container-fluid{
    padding: 0;
}
.bg-theme{
    background-color: #fda332 !important; 
}
.navbar-nav{
    margin-left: 44px;
}
.navbar-nav li a{
    /*color: #ffffffc2 !important;*/
    color: #fff !important;
    font-size: 17px;
    font-weight: 700;
}
.navbar-nav li a:hover, .navbar-nav li a.active {
    color: #fff !important;
}
.buy-btn-container button{
    font-size: 16px;
    font-weight: 600;
}
.dis-label {
    padding: 1px 9px;
    background: #4fbc17;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.dis-price{
    text-decoration: line-through;
    margin-left: 8px;
}


.text-black{
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}
.text-right{
    text-align: right !important;
}


@media only screen and (max-width: 600px) {
    .content-area {
        padding: 15px 10px;
    }
    .product-list{
        margin: 0;
    }
    .navbar-web{
        display: none;
    }
    .image-gallery{
        display: block !important;
    }
    .thumbnails{
        width: auto;
         display: inline-flex !important;
    }
    .thumbnail-image{
        margin-top: 20px !important
    }
    .title-sub::before{
        top: 35px;
    }
    .bbb_deals .btn-theme, .bbb_deals .btn-cart{
            width: 100%;
        }
}